{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3 class="text-white my-2">About Us</h3>
    <div class="card my-5" style="width: 23rem; float:left">
       <img class="card-img-top" src="{% static 'blog/images/aboutme.jpg' %}" alt="Card image cap">
        <div class="card-body" style="width:23rem">
             <h5 class="card-title">About me</h5>
             <p class="card-text">My name is <i>NAND KUMAR KUSHWAHA</i>. I am from Uttar Pradesh. Recently I have completed my B.Tech form
             Dr. A.P.J.Abdul kalam technical university. Currently I am looking for an opportunity as python developer in growing and reputed organization.</p>

        </div>
    </div>


    <div class="card my-5" style="width: 23rem; float:left;margin-left:20px">
       <img class="card-img-top" src="{% static 'blog/images/educatuon.jpg' %}" alt="Card image cap">
        <div class="card-body">
             <h5 class="card-title" style="width:23rem;">Educations</h5>
            <p class="card-text ">I did Bachelor of Technology form Dr. A.P.J. Abdul kalam Technical university Lucknow, with <i>8.62 cgpa.</i>
             i did my intermediate form <i>"Government Intermediate college"</i> from Deoria, with <i>84.20%</i> and high school with <i>77.16%.</i></p>

        </div>
    </div>



    <div class="card my-5" style="width: 23rem; float:left;margin-left:20px">
       <img class="card-img-top" src="{% static 'blog/images/skill.jpg' %}" alt="Card image cap">
        <div class="card-body">
             <h5 class="card-title" style="width:23rem">Skills</h5>
             <p class="card-text">python, C, SQL, Bootstrap, Django,
             Html,
             CSS <br>
             Data Structure, python library ( numpy, pandas, matplotlib) and basic of machine learning.<br>
                 <i>I have earned 5 star on <u>hackerrank </u>in python coding practice. And I practice on <u>Coderbyte</u> in python also. </i>
             </p

        </div>
    </div>





</div>

{% endblock content %}