{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white">All Post Available here.</h3>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <h4 class="display-6 blogtl">{{posts.title}}</h4>
           <p class="lead">{{posts.pst}}</p>
            <div class="container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="comment" class="btn btn-primary">
                </form>
                <table>

                    {% for com in comments %}
                    <tr>
                        <td>{{com.user}}</td>
                        <td>{{com.comment}}</td>

                    </tr>
                    {% endfor %}
                </table>


            </div>
        </div>
    </div>
</div>

{% endblock content %}