{% extends 'blog/base.html' %}
{% load static %}


{% block side %}
<div class="col-sm-2 text-white my-5 text-center">
    <h3 class="my-5">Profile</h3>
    <h4>{{full_name}}</h4>
    {% if user.is_superuser%}
    <h6>Admin</h6>
    {% else %}
    <h6>Author</h6>
    {% endif %}

</div>
{% endblock side %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white text-center my-5">DashBoard</h3>

     {% if user.is_superuser %}
       <a href="{% url 'addpost' %}" class="btn btn-primary">Add New</a>
       <a href="{% url 'contactus' %}" class="btn btn-primary">ContctUs Information</a>

        <h3 class="text-center alert alert-info mt-3"> Posts Information</h3>



    {% if posts %}
      <table class="table table-hover bg-white">
          <thead>
             <tr class="text-center">
                 <th scope="col" style="width:12%">Username</th>
                 <th scope="col" style="width:17%">Title</th>
                 <th scope="col" style="width:55%">Post Description</th>
                 <th scope="col" style="width:15%">Action</th>
             </tr>
          </thead>
          <tbody>
          {% for post in posts %}
             <tr>
                 <td class="text-center">{{post.un}}</td>
                 <td class="text-center">{{post.title}}</td>
                 <td class="text-center">{{post.pst}}</td>
                 <td class="text-center"><a href="{% url 'editpost' post.id %}" class="btn btn-warning btn-sm">EDIT</a>
                 <form action="{% url 'deletepost' post.id %}" method="POST" class="d-inline">
                     {% csrf_token %}
                     <input type="submit" class="btn btn-danger btn-sm" value="DELETE">
                 </form>
                 </td>
             </tr>
          {% endfor %}
          </tbody>
      </table>
    {% else %}
     <h4 class="text-center alert alert-warning">You have not posted any post yet !!!</h4>

   {% endif %}







    {% else %}
    <a href="{% url 'addpost' %}" class="btn btn-primary">Add New</a>
    <h3 class="text-center alert alert-info mt-3"> Posts Information</h3>
    {% if posts %}
      <table class="table table-hover bg-white">
          <thead>
             <tr class="text-center">
                 <th scope="col" style="width:12%">Username</th>
                 <th scope="col" style="width:17%">Title</th>
                 <th scope="col" style="width:55%">Post Description</th>
                 <th scope="col" style="width:15%">Action</th>
             </tr>
          </thead>
          <tbody>
          {% for post in posts %}
             <tr>
                 <td class="text-center">{{post.un}}</td>
                 <td class="text-center">{{post.title}}</td>
                 <td class="text-center">{{post.pst}}</td>
                 <td class="text-center"><a href="{% url 'editpost' post.id %}" class="btn btn-warning btn-sm">EDIT</a>
                 <form action="{% url 'deletepost' post.id %}" method="POST" class="d-inline">
                     {% csrf_token %}
                     <input type="submit" class="btn btn-danger btn-sm" value="DELETE">
                 </form>
                 </td>
             </tr>
          {% endfor %}
          </tbody>
      </table>
    {% else %}
     <h4 class="text-center alert alert-warning">You have not posted any post yet !!!</h4>

   {% endif %}
 {% endif %}
</div>
{% endblock content %}